<!DOCTYPE html>
<html>
<head>
  <title>ADPA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="googlebot" content="nosnippet">
  <meta name="description" content="Strona sklepu internetowego ADPA z siedzibą w Jeleniej Górze.">
  <meta name="keywords" content="zabawki, ADPA, klocki, puzzle, lalki, rozwój, nauka, pościel, Jelenia, Góra">
  <link rel="shortcut icon" href="/favicon.png">
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  
  <!-- Begin Wazala Code -->
  <script type="text/javascript" charset="utf-8"><!--
    var is_ssl = ("https:" == document.location.protocol);
    var setsHost = is_ssl ? "https://www.wazala.com/widget/" : "http://www.wazala.com/widget/";
    document.write("<"+"script src='" + setsHost + "js/widget_over.js?v=1&amp;rnd="+new Date().getTime()+"' type='text/javascript'" + "><" + "/script" + ">");
  //--></script>

  <script type="text/javascript" charset="utf-8">
    var store_widget_options = {};
    store_widget_options.ver = 1;
    store_widget_options.display = "overlay";  
    store_widget_options.placement = "center";  
    store_widget_options.label = "Sklep";  
    store_widget_options.touch_button = "floating";  
    store_widget_options.nickname = "adpa";
    store_widget_options.lang = "pl";
    store_widget_options.wazalaURL = setsHost; 
    var store_widget = new WazalaWidget.widget(store_widget_options);
  </script>
  <!-- End Wazala Code -->
</head>
<body>
  <%= render :partial => "layouts/flash"%>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <footer>
    <div class="row">
      <div class="span8 offset4">
        <div class="span3">
          Designed by Kornelia Figas
        </div>
        <div class="span3">
          Created by <a href="http://patryk-grunt.herokuapp.com">Patryk Grunt</a>
        </div>
        <div class="span2">
          &copy; ADPA
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
