<!DOCTYPE html>
<html>
<head>
  <title>ADPA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="googlebot" content="nosnippet">
  <meta name="description" content="Strona sklepu internetowego ADPA z siedzibą w Jeleniej Górze.">
  <meta name="keywords" content="zabawki, ADPA, klocki, puzzle, lalki, rozwój, nauka, pościel, Jelenia, Góra">
  <link rel="shortcut icon" href="/favicon.png">
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/flash"%>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <footer>
    <div class="row">
      <div class="span8 offset4">
        <div class="span3">
          Designed by Kornelia Figas
        </div>
        <div class="span3">
          Created by <a href="http://patryk-grunt.herokuapp.com">Patryk Grunt</a>
        </div>
        <div class="span2">
          &copy; ADPA
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
